<div class="container">
  <div class="row">

    <div [ngClass]="{'error-panel': !correctView}" class="constructor-column col-md-6 text-center">
      <ul dnd-sortable-container [sortableData]="uiConstructorObject" *ngIf="correctView">
        <li *ngFor="let card of uiConstructorObject; let ci = index"  dnd-sortable [sortableIndex]="ci">
          <type-card [typeCardData]="card" [typeCardIndex]="ci" (changeCardData)="changeCardData($event)"></type-card>
        </li>
      </ul>
      <div *ngIf="!correctView">
        Not valid JSON
      </div>
    </div>
  <div class="constructor-column col-md-6">
    <codemirror
      (ngModelChange)="changeCode($event)"
      [ngModel]="uiConstructorObject | json"
      [config]="{lineNumbers: true}">
    </codemirror>
  </div>
  </div>
</div>

<footer>
  <div class="col-md-6 text-center">
    <button class="ui-margin-10" md-raised-button (click)="openAddDialog()">Add New Block</button>
  </div>
  <div class="col-md-6"></div>
</footer>
