.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.mat-card {
  margin: 10px 40px;
}

.mat-form-field {
  width: 100%;
}

.mat-dialog-content{
  overflow: inherit!important;
}

ul
{
  list-style-type: none;
}

.constructor-column {
  overflow-y: auto;
  height: 90vh;
}

.ui-margin-10 {
  margin: 10px;
}

